@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif&family=Roboto:wght@300&display=swap');

:root {
    --my-font1: 'EB Garamond', serif;
    --my-font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--my-font1);
}

.font2 {
    font-family: var(--my-font2);
}

.height-1 {
    font-size: 80px;
}

.height-2 {
    font-size: 40px;
}

.height-3 {
    font-size: 25px;
}

.height-4 {
    font-size: 20px;
}

.height-5 {
    font-size: 15px;
}

.bold-text {
    font-weight: bolder;
}

.wcolor {
    color: white;
}

.ocolor {
    color: orange;
}